@using FindJob.Core.Models.JobOffer;
@model JobOfferFormModel;

@{
    ViewData["Title"] = "Edit Job Offer";
}




<div class="row">
    <h2 class="text-center text-white">@ViewData["Title"]</h2>

    <partial name="_JobOfferFormPartial"></partial>

</div>

@section Styles{
    <link rel="stylesheet" href="~/css/addJobOffer.css" asp-append-version="true" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}